@using System.Globalization
@model Web.Models.QuoteResponse
@{
  ViewBag.Title = $"Pie Insurance Quote {Model.NamedInsured}";
}

<table>
  <tr><td>Named Insured:</td><td>@Model.NamedInsured</td></tr>
  <tr><td>Policy Effective Date:</td><td>@Model.PolicyEffectiveDate.ToString("M/d/yyyy", CultureInfo.InvariantCulture)</td></tr>
  <tr><td>Quote Date:</td><td>@Model.QuoteDate.ToString("M/d/yyyy", CultureInfo.InvariantCulture)</td></tr>
</table>

<div style="page-break-before: always">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur neque odio, laoreet nec porta eu, aliquam eget nisi. Pellentesque sodales, velit a sagittis tincidunt, mauris enim ultrices mi, non venenatis nunc ante vitae diam. Fusce maximus nisl dui, sed tristique quam feugiat vitae. Praesent tempor arcu tincidunt justo auctor, ac hendrerit quam vestibulum. Sed in nisi enim. Aenean lorem sem, porttitor id fermentum sit amet, tristique sit amet est. Phasellus scelerisque, metus id dapibus tristique, massa lectus tincidunt lorem, quis tristique lectus justo sit amet dui.</p>

  <p>Donec molestie enim in arcu efficitur, vitae gravida lorem sodales. Duis et ullamcorper elit, non scelerisque orci. Sed placerat, sapien vitae lobortis ultricies, odio lectus iaculis nisl, placerat aliquet urna ante et diam. Quisque semper dapibus tincidunt. Proin metus lorem, consequat quis aliquam sed, venenatis eu mauris. Donec a ante magna. Integer id mollis nisi, vel convallis lectus. Nullam in dui id nibh gravida pretium. Sed fermentum sem consectetur, cursus odio sit amet, congue libero. Nullam lorem arcu, aliquet ut aliquam vitae, sollicitudin vestibulum dui. Nullam leo est, condimentum a odio a, viverra suscipit turpis. Vivamus condimentum tristique velit vel hendrerit. Vestibulum sed bibendum lacus. Curabitur porta ut lacus vel ullamcorper. Sed et malesuada nunc. Nunc faucibus pharetra urna, sit amet egestas ligula placerat viverra.</p>

  <p>Fusce suscipit pellentesque magna, et luctus ipsum tempus facilisis. Etiam sodales, elit et placerat volutpat, sapien nulla ultricies nisl, sit amet malesuada nibh lectus id tellus. Aliquam tempor, dui id elementum pulvinar, erat urna suscipit mauris, sed varius mauris diam in velit. Sed elementum molestie lectus. In lectus ante, ullamcorper consequat neque nec, ullamcorper sollicitudin urna. Ut non nibh nec neque sagittis posuere. Duis non libero pellentesque, auctor risus sit amet, luctus justo. Morbi mattis lobortis sodales. Suspendisse laoreet accumsan turpis ut suscipit.</p>

  <p>Nunc tempus dolor et sapien iaculis, id suscipit nisl dignissim. In vel sem nec mi tempus placerat. In tempus nulla ut mattis sollicitudin. Donec faucibus nisl non orci pellentesque auctor. Duis facilisis pretium metus, vel egestas quam blandit at. Nullam faucibus, enim sit amet imperdiet pharetra, leo quam molestie neque, eget ornare leo magna elementum erat. Phasellus ex magna, dapibus in magna eget, faucibus tempus velit. Morbi quis ante id nunc cursus scelerisque sit amet at elit. Phasellus risus ex, rutrum et euismod vel, accumsan dapibus purus. Duis non justo magna. Sed suscipit augue id magna volutpat pellentesque.</p>

  <p>Sed eget tortor turpis. Vestibulum a ante feugiat leo blandit sagittis. Quisque malesuada, odio ut blandit lacinia, erat augue sagittis odio, sit amet accumsan mi quam eu nisl. Cras quam neque, mollis ut neque eget, auctor pharetra nisi. Pellentesque fermentum auctor odio, consectetur mollis dui feugiat eget. Donec mi purus, venenatis eget eros et, faucibus gravida orci. Integer suscipit efficitur nisi ac commodo. Suspendisse at imperdiet nunc. Suspendisse vitae massa massa.</p>
</div>
